.addPoint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  font-size: 20px;
  text-align: center;
  color: white;
}

input[type="text"] {
  padding: 12px;
  margin: 1px 0 10px 0;
  border: 1px solid #c75bab;
  background: white;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.addbutton {
  color: white;
  text-align: center;
  font-size: 16px;
  border: 1px solid #c75bab;
  background-color: #c75bab;
}
