* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #1f2937;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
}
